services:
  web:
    build:
      context: ../app
      dockerfile: ../docker/dockerFile
    container_name: vite-dev
    ports:
      - "5173:5173"
    volumes:
      - ../app:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev -- --host
